// app global css in SCSS form

// increíble pero quasar no tiene un sistema coomo el container
// tengo este sistema de
// https://stackoverflow.com/questions/60673143/bootstrap-like-container-in-quasar
// en teoría hay una forma de usar las variables de quasar pero me da un error
// vite de q no encuetnra el fichero. No he mirado la solución

// breakpoint variable, from https://quasar.dev/style/breakpoints
// Except the xs one because I think 600px is too small
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

// body {
//   font-size: 19px;
// }

// html {
//   font-size: 19px;
// }

// body {
//   font-size: 19px;
// }

// @media (max-width: 700px) {
//   html {
//     font-size: 0.8rem;
//   }

//   body {
//     font-size: 0.8rem;
//   }
// }

.textlinks {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid $primary;
  box-shadow: inset 0 -2px 0 $primary;
  background: 0 0;
  transition: background 150ms ease;

  &:focus,
  &:hover {
    background: $primary;
  }
}
