// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//@import url("https://fonts.googleapis.com/css?family=Lora:400|Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$typography-font-family: 'Merriweather', serif;
//$typography-font-family: "Lora", serif;

// original
//$primary: #cc0d12;
$secondary: #414156;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$white: #fff;

$body-font-size: 18px !default;
//$body-font-size: 1rem !default;
//$body-font-size: 100% !default;

//nueva paleta
// https://www.colorhexa.com/3e7800
//$primary: #3e7800;
$primary: #167800;
$primary-complementary: #3a0078; //rgb(58,0,120)
$triadic-1: #003e78;
$triadic-2: #78003e;

// paleta según adobe
/* Color Theme Swatches in Hex */
// $My-Color-Theme-1-hex: #690578;
// $My-Color-Theme-2-hex: #e330ff;
// $My-Color-Theme-3-hex: #ad12c4;
// $My-Color-Theme-4-hex: #3e7800;
// $My-Color-Theme-5-hex: #6ec412;

// /* Color Theme Swatches in RGBA */
// $My-Color-Theme-1-rgba: rgba(105, 4, 119, 1);
// $My-Color-Theme-2-rgba: rgba(226, 47, 255, 1);
// $My-Color-Theme-3-rgba: rgba(172, 17, 195, 1);
// $My-Color-Theme-4-rgba: rgba(61, 119, 0, 1);
// $My-Color-Theme-5-rgba: rgba(110, 195, 17, 1);

// /* Color Theme Swatches in HSLA */
// $My-Color-Theme-1-hsla: hsla(292, 92, 24, 1);
// $My-Color-Theme-2-hsla: hsla(291, 100, 59, 1);
// $My-Color-Theme-3-hsla: hsla(292, 83, 41, 1);
// $My-Color-Theme-4-hsla: hsla(89, 100, 23, 1);
// $My-Color-Theme-5-hsla: hsla(88, 83, 41, 1);

$link-hover-color: lighten($primary, 10%) !default;
$footer-color: lighten($primary, 40%) !default;

// posible paleta
$color-1: #28b463;
$color-2: #daf7a6;
$color-3: #ffc300;
$color-4: #ff5733;
$color-5: #c70039;
$color-6: #900c3f;

// otra:
$color1: #fc9f5b; // sandy brown
$color2: #fbd1a2; // deep champagne
$color3: #ece4b7; // lemon maringue
$color4: #7dcfb6; // middle blue green
$color5: #33ca7f; // emerald

// una buena es esta:
// https://colorhunt.co/palette/aa2b1dcc561eef8d32beca5c
// color1: #AA2B1D;
// color2: #CC561E;
// color3: #EF8D32;
// color4: #BECA5C;

// unos buenos tonos de azules
